@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/variables.css';

html,
body,
main {
  height: 100%;
}

body {
  color: var(--primary);
  background: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border: none;

  &:disabled {
    background-color: var(--disabled);

    &:hover {
      background-color: var(--disabled);
      cursor: default;
    }
  }
}

input:disabled,
textarea:disabled {
  background-color: var(--disabled);

  &:hover {
    background-color: var(--disabled);
    cursor: default;
  }
}
/* https://tools.qa.public.ale.ai/api/tools/candidates/levels */